* {
    padding: 0;
    margin: 0;
}

img {
    border: 0;
}

body {
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
}

ol,
ul {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

/*==============================
        common css end
================================*/

.navbar-light .navbar-toggler{
    background: #b9b6b6;

}

.navbar-toggler{
    color: #83e510;
}


.navbar {
    background: #FFFFFF;
}


.navbar-light .navbar-nav .nav-link {
    padding: 30px 0;
    padding-left: 7rem;
    padding-right: 1rem;
    font-size: 14px;
    font-weight: 400;
    color: #626262;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    transition: all linear 0.3s;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: #ed0a1c;
    
}

/*===========================
        Nav Section End
=============================*/


#banner_sec .image img{
    width: 100%;
}
/*===========================
      Banner Section End
=============================*/

.all-text{
    
    padding-left: 60px;
    padding-right: 60px;
    
}

/*.text{
    border: 1px solid #000;
}*/

.all-text h6{
    font-family: 'Ubuntu', sans-serif;
    padding-top: 90px;
    font-size: 14px;
    text-transform: uppercase;
    color: #626262;
}

.all-text h2{
    font-family: 'Playfair Display', serif;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 400;
    color: #626262;
}

.all-text p{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    padding-top: 30px;
    line-height: 25px;
    color: #626262;
}

.all-text h4{
    font-family: 'Ubuntu', sans-serif;
    padding-top: 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: #626262;
}
/*===========================
       Photodiary End
=============================*/


.all-image{
    padding-left: 60px;
    padding-right: 60px;
    overflow: hidden;
  
}

.gelery{
    float: left;
    padding-top: 80px;
}

.gelery:nth-child(even){
    padding-left: 9.6%;
	
}

.gelery h6{
    font-size: 14px;
    padding-top: 20px;
    font-family:font-family: 'Ubuntu', sans-serif; 
}
.gelery h2{
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    padding-top: 15px;
}

.gelery p{
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    line-height: 25px;
    padding-top: 20px;
}

/*===========================
       Blog End
=============================*/
#news_sec{
    background: #f0f0f0;
    min-height: 250px;
    margin-top: 80px;
}

.contact{
    text-align: center;
	padding-bottom: 30px;
    
}

.contact h1{
    
    font-size: 30px;
    font-weight: 400;
    color: #333333;
    text-align: center;
    padding: 50px;
    font-family: 'Playfair Display', serif;
}


.contact .for_form{

    position: relative;
    text-align: center;
    width: 30%;
    margin: 0 auto;

}

.contact .for_form input{
    
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-size: 14px;
    width: 320px;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
    color: #626262;
    padding: 10px 50px 10px 0px;
}

.contact .for_form button{
    border: none;
    background: transparent;
    top: 10px;
    right: 0px;
    position: absolute;

}

.for_btn{
    
    margin-top: 100px;
    margin-bottom: 100px;
   
}

.for_btn button{
	width: 165px;
	height: 60px;
	background: none;
	border: none;
	border: 1px solid #626262;
	font-size: 20px;
	font-weight: 400;
	transition: .5s;
}

.for_btn button:hover{
    
    background: #a7a7a7;
    color: #fff;
}


footer{
    min-height: 100px;
    background: #f0f0f0;
}

.wrap-1{
    padding-top: 50px;
}

.wrap-1 a{
    padding-left: 10px;
}

.wrap-2{
    padding-top: 50px;
    text-align: right;
    
}

.wrap-2 span{   
    padding-right: 10px;
}

.wrap-2 .fab{
    
    padding: 0px 10px;
}

